/*

Background: 282a36
Current Line: 44475a
Selection: 44475a
Foreground: f8f8f2
Comment: 6272a4

Cyan: 8be9fd;
Green: 50fa7b;
Orange: ffb86c;
Pink: ff79c6;
Purple: bd93f9;
Red: ff5555;
Yellow: f1fa8c;

*/

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

html {
    background-color: #282a36;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#ticker {
    z-index: 1;
    top: -16;
    left: 0;
    width: 100%;
    background-color: #44475a;
    padding: 3px;
    text-align: center;
    box-shadow: 0 3px 5px #1c1d25;
    position: fixed;
}

#ticker li {
    margin: 0 10px;
    display: inline;
    color: #bd93f9;
}

#ticker span {
    color: #f1fa8c;
}

#date {
    margin-top: 50px;
    font-size: 1.2rem;
    color: #ffb86c;
}

#clock {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    color: #ff79c6;
}

#clock span {
    color: #50fa7b;
}

#search {
    width: 70vw;
    max-width: 400px;
    background-color: #282a36;
    color: grey;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 3px;
    padding: 5px;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
}

.card {
    animation: .5s ease-in 0s 1 slideUp;
    margin: 10px auto;
    width: 17vw;
    min-width: 200px;
    height: 150px;
    background-color: #44475a;
    box-shadow: 3px 3px 5px #1c1d25;
}

.card h2 {
    color: #bd93f9;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card a {
    text-decoration: none;
    color: #50fa7b;
}
