@media screen and (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10%;
    }

    #ticker {
        top: auto;
        left: auto;
        width: 45%;
        background-color: #282a36;
        padding: 0;
        box-shadow: none;
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #ticker li {
        padding-top: 5px;
        font-size: 1.4rem;
        display: block;
        margin: 10px auto;
        width: 20vw;
        min-width: 200px;
        height: 200px;
        background-color: #44475a;
        box-shadow: 3px 3px 5px #1c1d25;
    }

    #cards {
        width: 45%;
    }
}